
:root {
  --bg: #2c2c2c; /* charcoal for body */
  --primary: #000000; /* black */
  --text: #F9F6EE; /* bone white */
  --accent-brown: #8B5A2B;
  --accent-green: #006B5B;
  --accent-gold: #FFD34E;
  --accent-red: #D62828;
}


body{
  background-color: var(--bg);
}

h1{
    color: var(--text);
    font-family: "Montserrat", sans-serif;
}

p{
    color: var(--text);
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section{
  padding: 60px 20px;
  text-align: center;
  border-bottom: 1px solid var(--accent-brown);
}

header{
  background-color: var(--primary);
  color: var(--text);
  padding: 40px 20px;
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primary);
}

.nav-left, .nav-right{
  display: flex;
  gap: 30px;
}

nav a{
  color:var(--text);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  position: relative;
}

.navbar a::after{
  margin:auto;
  background: var(--accent-gold);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.navbar a:hover::after{
  width: 100%;
}

.logo{
  color: var(--text);
  font-family: "Montserrat", sens-serif;
  font-size: 1.8rem;
}